<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrowserName" value="Chrome" />
    <add key="Url" value="https://apimock-ws04.emadev.emoneyadvisor.com/#/overview" />
    <add key="TestData" value="TestData\TestData.json" />
  </appSettings>
</configuration>